{% if uuid is not empty %}
    {% set post = createModel('Posts','blog').findById(uuid) %} 
{% endif %}
{{ component('current>page.title',{ title: post.title, subtitle: description }) }}     
<div 
    class="flex flex-row items-start {{ styles.color }} {{ styles.border }} {{ styles.size }} {{ styles.space }}">     
    <div class="relative p-1 rounded text-gray-300 text-3xl {{ class }}"> 
        {% if post.image.src is not empty %}   
            {{ component('current>loader.image',{}) }}            
            <img 
                animation="opacity-100"
                class="{{ styles.image }}" 
                data-src="{{ url(post.image.src) }}" 
                alt="{{ post.title }}">
        {% else %}           
            {{ component('icons~image',styles.icon,'svg') }}               
        {% endif %}                
        <div class="flex flex-row {{ styles.label }}">
            <span>{{ labels.published }}</span>    
            <span class="text-bold px-3 dark:text-gray-400 text-gray-700">{{ post.date_created|dateFormat }}</span>             
        </div>
    </div>   
    <div class="pl-12 prose prose-2xl text-lg dark:text-gray-200">  
        {{ post.content|md|decode }}
    </div>    
</div>