<div class="flex flex-row items-center {{ class }}">           
    <a 
        class="ml-4 {{ styles.item.class }}" 
        title="{{ labels.linkedin }}"
        aria-label="{{ labels.linkedin }}"
        href="#">
        {{ component('icons~linkedin.color',styles.icon,'svg') }} 
    </a>  
    <a 
        class="ml-4 {{ styles.item.class }}" 
        title="{{ labels.facebook }}"
        aria-label="{{ labels.facebook }}"
        href="#">
        {{ component('icons~facebook.color',styles.icon,'svg') }} 
    </a>   
    <a 
        class="ml-4 {{ styles.item.class }}" 
        title="{{ labels.instagram }}"
        aria-label="{{ labels.instagram }}"
        href="#">
        {{ component('icons~instagram.color',styles.icon,'svg') }} 
    </a>           
</div>