<nav 
    class="flex flex-row items-center fixed z-20
    {{ styles.size }} 
    {{ styles.space }} 
    {{ styles.color }}
    {{ class }}">      
    <div 
        class="flex flex-row items-center 
        {{ styles.content.size }}
        {{ styles.content.align }}
        {{ styles.content.space }}
        {{ styles.content.color }}
        {{ styles.content.border }}
        {{ styles.content.class }}">
        <div
            class="w-full flex flex-col items-start">           
            <div 
                class="self-center flex flex-row items-center">
                <div class="dark:bg-dark-light dropdown inline-flex rtl:[--placement:bottom-end]">
                    <button 
                        id="dropdown-menu-icon" 
                        type="button" 
                        class="flex place-content-center sm:block xs:block md:hidden lg:hidden dark:bg-dark-light dropdown-toggle btn btn-square btn-outline" 
                        aria-haspopup="menu" 
                        aria-expanded="false" 
                        aria-label="Menu">                    
                        {{ component(styles.sidebar.icon,styles.icon,'svg') }}                           
                    </button>
                    <ul 
                        class="z-50 mt-8 dark:bg-gray-800 dark:text-gray-200 dropdown-menu dropdown-open:opacity-100 hidden min-w-60" 
                        role="menu" 
                        aria-orientation="vertical" 
                        aria-labelledby="dropdown-menu-icon">
                        {{  component('current>navbar.menu',{ 
                                active: active, 
                                styles: styles,
                                class: 'dropdown-item z-50' 
                            }) 
                        }}                                               
                    </ul>
                </div>
                <div class="ml-2 px-2 xs:px-1 flex items-center flex-row xs:grow"> 
                    <div class="bg-transparent rounded-full">              
                        <img width="64px" height="64px" alt="{{ title }}" src="{{ template_url }}images/logo.svg">               
                    </div>                                                 
                    <div class="pl-2">                
                        <div 
                            class="dark:text-gray-200 poppins-font font-extrabold inline-block align-baseline text-2xl hover:text-sky-500 transition duration-700 ease-in-out">
                            <a href="{{ url('') }}" class="align-baseline">
                                {{ title }}
                            </a>
                        </div>                                 
                        <div 
                            class="text-center dark:text-gray-400 poppins-font tracking-wide text-stone-700 text-xs font-light -mt-2">
                            {{ subtitle }}
                        </div>
                    </div> 
                </div> 
            </div>
            <div 
                class="xs:hidden sm:hidden md:flex my-2 self-center flex grow justify-center">
                <div class="flex flex-row items-center lg:flex ">
                    {{  component('current>navbar.menu',{ 
                            active: active, 
                            styles: styles 
                        }) 
                    }}                  
                </div> 
            </div>      
        </div>                
    </div>       
</nav>