<div    
    id="{{ id }}"
    class="pt-32 {{ theme.page.size }} {{ class }}">
    <div   
        class="{{ content_class }} flex flex-col justify-center {{ theme.page.content }}">
        {% if hide_title != true %}
        <h2 class="{{ styles.title }} {{ styles.align }}">
            {{ title }}
        </h2>
        {% endif %}
        <div 
            class="w-3/4 md:w-3/4 lg:w-3/4 sm:w-full xs:w-full mx-auto {{ content_class }}">
            {{ content }}
        </div>
    </div>
</div>
