{% component 'current>page.section' %}
    {% set id = 'about' %}  
    <div    
        class="w-full gap-4 grid grid-cols-2 lg:grid-cols-2 sm:grid-cols-1">
        <div>
            <p>
                Logistics solutions since 1956 Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit amet mauris. Morbi accumsan ipsum elit amet velit. 
            </p>
        </div>
        <div      
            class="place-content-end flex">
            <img  
                class="w-full rounded-lg"               
                alt="About"
                src="{{ template_url }}images/about-page.jpg">
        </div> 
    </div> 
{% endcomponent %}