<footer class="{{ styles.class }} {{ styles.space }}">    
    <div        
        class="{{ styles.size }} {{ styles.content }}">
        <div
            class="w-full place-content-center flex">
            <div class="flex flex-row items-center">          
                <div class="bg-stone-100 rounded-full p-0.5">              
                    <img width="32px" height="32px" alt="{{ title }}" src="{{ template_url }}images/logo.svg">               
                </div>                                                 
                <div class="pl-2">                
                    <div 
                        class="dark:text-gray-200 poppins-font inline-block align-baseline text-xl font-extrabold hover:text-sky-500 transition duration-700 ease-in-out">
                        <a href="{{ url('') }}" class="align-baseline">
                            {{ title }}
                        </a>
                    </div>                                 
                    <div 
                        class="mt-1 dark:text-gray-400 poppins-font tracking-wide text-stone-700 text-xs font-light -mt-2">
                        {{ subtitle }}
                    </div>
                </div>                                                      
            </div>                                                                         
        </div> 
        {% for column in columns %}
        <div class="w-full place-content-center flex flex-col">
            <h2 class="{{ styles.item.title }}">
                {{ column.title }}
            </h2> 
            {% for item in column.items %}
                <a class="{{ styles.item.class }}" href="{{ url(item.url) }}">
                    {{ component(item.icon,styles.icon,'svg') }} 
                    <span class="px-2 {{ styles.item.color }}">               
                        {{ item.title }}
                    </span> 
                </a>  
            {% endfor %}       
        </div> 
        {% endfor %} 
        {{ component('current>share.links',{}) }}
    </div>
    <div 
        class="border-t border-dotted dark:border-stone-800 py-4 {{ styles.size }} place-content-center flex flex-row items-center">              
        {{ component('icons~copyright',styles.icon,'svg') }}             
        <div class="px-1 {{ styles.copyright.color }}">       
            {{ copyright|renderText({ interval: currentYear() }) }}             
        </div> 
    </div>   
</footer>