{% set active_color = active_color|default('dark:text-gray-200 dark:bg-gray-600 bg-stone-200 transition-colors duration-700 text-stone-800') %}
{% set button_hover = button_hover|default('hover:text-stone-900 hover:bg-stone-300 transition duration-1000 ease-in-out') %}
<buttons
    id="{{ component_id }}"
    selected="{{ selected|default(1) }}"
    active-color="{{ active_color }}"
    class="inline-block
    {{ color|default('bg-stone-100 dark:bg-gray-800 dark:text-gray-200') }} 
    {{ border|default('rounded-lg') }}
    {{ class|default('py-2 px-4') }}">
    {% for button in buttons %}
    <toggleButton 
        index="{{ loop.index }}"
        value="{{ button.value|default(loop.index) }}"
        class="inline-flex cursor-pointer select-none toogle-button
        {{ (button.selected == true) ? active_color : '' }} 
        {{ button_border|default('rounded-lg') }} 
        {{ button_space|default('py-1 px-2') }}
        {{ button_hover }}
        {{ button_text|default('text-center') }}">
        {{ button.label }}
    </toggleButton>
    {% endfor %}
</buttons>